.terminal {
    width: 100%;
    height: 100%;
  }
  
  .terminal-output {
    overflow: auto;
    height: calc(100% - 56px); /* Adjust the height based on the space for the input and title */
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .terminal-output:focus {
    outline: none;
    caret-color: black;
  }
  
  .terminal-prompt {
    display: inline;
  }
  
  .blinking-cursor {
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  